html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.masthead {
  background-image: url(../images/bg-image.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav {
  margin: 0 auto;
}

.nav-menu {
  display: flex;
}

.menu__link {
  display: block;
  color: #696969;
  padding-left: 10px;
  padding: 10px 20px 10px 10px;
  transition: all 0.3s ease;
}

.menu__item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(54, 92, 125, 0.3);
  width: 1px;
  height: 100%;
}

.menu__item::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(54, 92, 125, 0.3);
  width: 1px;
  height: 100%;
}

.menu__icon {
  width: 16px;
  height: 16px;
  fill: rgb(0, 255, 255);
}

.menu__item-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.menu__item {
  position: relative;
  padding-left: 20px;
}

.menu__item:hover {
  box-shadow: 0px 3px 5px 0px #d8d8d8, 0px -3px 5px 0px #dddddd;
  transition: all 0.3s ease;
}

.menu__item:hover .menu__icon {
  fill: rgba(221, 32, 86, 0.5);
  transition: all 0.3s ease;
}

.menu__link:hover {
  color: #000000;
  transition: all 0.3s ease;
}

.menu__item > .menu {
  display: none;
  position: absolute;
}

.menu__item:hover > .menu {
  display: block;
}

.menu__item > .menu .menu__item .menu__link {
  text-transform: capitalize;
}

.menu__item > .menu .menu__item > .menu {
  left: 100%;
  top: 0;
}
